.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}
.quantityInput{
width: 50px !important;
padding: 6px 3px;
text-align: center;
border: 1px solid #cfb1b1;
outline: 0;
margin-right: 1px;
}
.custom-color1 {   
    background-color: #Af1763;
}
.custom-color2 {
    background-color: #191C24;
}
 .bg-image {
     background-image: url('/app/resources/img/pos.png');
     background-size: cover;
     background-position: center;
     height: 100vh;
 }
/* This is a transparent form start */
 .box {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
     padding: 40px;
     background: rgba(0, 0, 0, .4);
     box-sizing: border-box;
     box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
     border-radius: 10px;
 }

 .box h2 {
     margin: 0 0 30px;
     padding: 0;
     color: #FFF;
     text-align: center;
 }

 .box .inputBox {
     position: relative;
 }

 .box .inputBox input {
     width: 100%;
     padding: 10px 0;
     font-size: 16px;
     color: #FFF;
     letter-spacing: 1px;
     margin-bottom: 30px;
     border: none;
     border-bottom: 1px solid #FFF;
     outline: none;
     background: transparent;
 }

 .box .inputBox label {
     position: absolute;
     top: 0;
     left: 0;
     padding: 10px 0;
     font-size: 16px;
     color: #FFF;
     pointer-events: none;
     transition: .5s;
     animation: LabelOnLoad 1s forwards 0s ease;
 }

 @keyframes LabelOnLoad {
     0% {
         transform: rotate(0) translateY(-19px);
         opacity: 0;
     }

     100% {
         transform: rotate(0) translateY(0);
         opacity: 1;
     }
 }

 .box .inputBox input:focus~label,
 .box .inputBox input:valid~label {
     top: -19px;
     left: 0;
     color: #03A9F4;
     font-size: 12px;
 }

 .box input[type='submit'] {
     background: transparent;
     border: none;
     outline: none;
     color: #FFF;
     background: #03A9F4;
     padding: 10px 20px;
     cursor: pointer;
     border-radius: 5px;
     font-size: 14px;
 }

 .box input[type='submit']:hover {
     background-color: rgba(3, 169, 244, 0.7);
 }

 @media(max-width: 720px) {
     .box {
         width: 80%;
     }
 }
 /* This is a transparent form end */
   
